section
{
    background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));/*trnsition of background color*/
   
}
h3{
    color:  rgb(59, 65, 64);
    text-align: center;
   padding: 20px 40px;
   font-size: 40px;
   margin-top: 0;
}
.content{
    display: flex;
    flex-direction: row;/* flexing in the row direction*/
    justify-content:space-evenly;
    object-fit:cover;   
    margin-bottom: 0;
}
#images
{
  
    display: flex;
    flex-direction: column;/*the image and paragraph are flexed*/

}
#images img
{
   height: 200px; 
   width :100%;/*size of the image*/
   box-shadow: 2px 4px 8px rgb(68, 67, 67);
   border-radius: 10px;
}
#images p{
    color: black;
    text-align: center;/*text with image is alligned in center*/
    color:green;
}
footer {
    margin-top:0;
background-color: black;
}

