@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.material-symbols-outlined
{
    color: rgb(96, 96, 96);
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: bottom 10px;;
}
.lefth
{
    display: flex;
    align-items: center;
    margin: 10px;
}
.lefth img{
    width: 100px;
    margin-left: 15px;
}
img{
    height: 5px;
    width: 5px;;
}